.paper {
    padding:15px;
    width: 100%;
    background-color: #0f1519;
    border-left: 10px solid #0f1519;
}

.info {
    padding: 12px;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #0f1519;
}

.label {
    margin: 0;
    padding: 10px;
    box-sizing: inherit;
}