img {
    width: 60px;
    height: 60px;
}

.teamCard{
    display: flex;
    align-items: center;
    width: 45%;
    text-align: right;
    background-color: #0f1519;
}

.reverseTeamCard{
    display: flex;
    align-items: center;
    width: 45%;
    text-align: left;
    background-color: #0f1519;
    flex-direction: row-reverse;
}

.code {
    margin: 20px;
    font-size: 1.3rem;
    font-weight: normal;
    color: #8fa3b0;
    text-align: center;
}